In [1]:
import pandas as pd

In [2]:
intakes =  pd.read_csv('./data/austin_animal_center_intakes_20241017.csv')
intakes.head()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,01/03/2019 04:19:00 PM,January 2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,07/05/2015 12:59:00 PM,July 2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,04/14/2016 06:43:00 PM,April 2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,10/21/2013 07:59:00 AM,October 2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A857105,Johnny Ringo,05/12/2022 12:23:00 AM,May 2022,4404 Sarasota Drive in Austin (TX),Public Assist,Normal,Cat,Neutered Male,2 years,Domestic Shorthair,Orange Tabby

In [3]:
intakes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168040 entries, 0 to 168039
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         168040 non-null  object
 1   Name              119647 non-null  object
 2   DateTime          168040 non-null  object
 3   MonthYear         168040 non-null  object
 4   Found Location    168040 non-null  object
 5   Intake Type       168040 non-null  object
 6   Intake Condition  168040 non-null  object
 7   Animal Type       168040 non-null  object
 8   Sex upon Intake   168038 non-null  object
 9   Age upon Intake   168039 non-null  object
 10  Breed             168040 non-null  object
 11  Color             168040 non-null  object
dtypes: object(12)
memory usage: 15.4+ MB

In [4]:
intakes.drop(columns=['Name', 'Found Location', 'MonthYear'], inplace=True)

In [5]:
columns = {
    'Animal ID': 'animal_id',
    'DateTime': 'intake_time',
    'Intake Type': 'intake_type',
    'Intake Condition': 'intake_condition',
    'Animal Type': 'animal_type',
    'Sex upon Intake': 'intake_gender',
    'Age upon Intake': 'intake_age',
    'Breed': 'inake_breed',
    'Color': 'intake_color'    
}

intakes = intakes.rename(columns=columns)

In [6]:
intakes['intake_time'] = pd.to_datetime(intakes['intake_time'], format='%m/%d/%Y %H:%M:%S %p')

In [7]:
intakes.nunique()

animal_id           151007
intake_time         115671
intake_type              6
intake_condition        20
animal_type              5
intake_gender            5
intake_age              55
inake_breed           2969
intake_color           651
dtype: int64

In [8]:
intakes.sort_values(by=['animal_id','intake_time'], inplace=True)
intakes.head()

,animal_id,intake_time,intake_type,intake_condition,animal_type,intake_gender,intake_age,inake_breed,intake_color
113926,A006100,2014-03-07 02:26:00,Public Assist,Normal,Dog,Neutered Male,6 years,Spinone Italiano Mix,Yellow/White
5413,A006100,2014-12-19 10:21:00,Public Assist,Normal,Dog,Neutered Male,7 years,Spinone Italiano Mix,Yellow/White
25241,A006100,2017-12-07 02:07:00,Stray,Normal,Dog,Neutered Male,10 years,Spinone Italiano Mix,Yellow/White
88544,A047759,2014-04-02 03:55:00,Owner Surrender,Normal,Dog,Neutered Male,10 years,Dachshund,Tricolor
120450,A134067,2013-11-16 09:02:00,Public Assist,Injured,Dog,Neutered Male,16 years,Shetland Sheepdog,Brown/White

In [9]:
intakes['stay'] = intakes.groupby('animal_id').cumcount() +1

In [10]:
intakes.nunique()

animal_id           151007
intake_time         115671
intake_type              6
intake_condition        20
animal_type              5
intake_gender            5
intake_age              55
inake_breed           2969
intake_color           651
stay                    33
dtype: int64

In [11]:
intakes['stay'] = intakes['stay'].astype('str')

In [12]:
intakes['animal_stay'] = intakes['animal_id'] + '-' + intakes['stay']

In [13]:
outcomes = pd.read_csv('./data/austin_animal_center_outcomes_20241017.csv')
outcomes.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A882831,*Hamilton,07/01/2023 06:12:00 PM,Jul 2023,03/25/2023,Adoption,NaN,Cat,Neutered Male,3 months,Domestic Shorthair Mix,Black/White
1,A794011,Chunk,05/08/2019 06:20:00 PM,May 2019,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
2,A776359,Gizmo,07/18/2018 04:02:00 PM,Jul 2018,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
3,A821648,NaN,08/16/2020 11:38:00 AM,Aug 2020,08/16/2019,Euthanasia,NaN,Other,Unknown,1 year,Raccoon,Gray
4,A720371,Moose,02/13/2016 05:59:00 PM,Feb 2016,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff

In [14]:
outcomes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167942 entries, 0 to 167941
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         167942 non-null  object
 1   Name              119733 non-null  object
 2   DateTime          167942 non-null  object
 3   MonthYear         167942 non-null  object
 4   Date of Birth     167942 non-null  object
 5   Outcome Type      167896 non-null  object
 6   Outcome Subtype   77144 non-null   object
 7   Animal Type       167942 non-null  object
 8   Sex upon Outcome  167940 non-null  object
 9   Age upon Outcome  167926 non-null  object
 10  Breed             167942 non-null  object
 11  Color             167942 non-null  object
dtypes: object(12)
memory usage: 15.4+ MB

In [15]:
outcomes.drop(columns=['Name', 'MonthYear', 'Outcome Subtype'], inplace=True)

In [16]:
outcome_columns = {
    'Animal ID': 'animal_id',
    'DateTime': 'outcome_time',
    'Date of Birth': 'date_of_birth',
    'Outcome Type': 'outcome_type',
    'Animal Type': 'outcome_animal_type',
    'Sex upon Intake': 'outcome_gender',
    'Age upon Intake': 'outcome_ged',
    'Breed': 'outcome_breed',
    'Color': 'outcome_color'    
}

outcomes = outcomes.rename(columns=outcome_columns)

In [17]:
outcomes['outcome_time'] = pd.to_datetime(outcomes['outcome_time'], format='%m/%d/%Y %H:%M:%S %p')

In [18]:
outcomes.nunique()

animal_id              150912
outcome_time           139971
date_of_birth            8501
outcome_type               11
outcome_animal_type         5
Sex upon Outcome            5
Age upon Outcome           55
outcome_breed            2969
outcome_color             653
dtype: int64

In [19]:
outcomes.sort_values(by=['animal_id','outcome_time'], inplace=True)
outcomes.head()

,animal_id,outcome_time,date_of_birth,outcome_type,outcome_animal_type,Sex upon Outcome,Age upon Outcome,outcome_breed,outcome_color
145647,A006100,2014-03-08 05:10:00,07/09/2007,Return to Owner,Dog,Neutered Male,6 years,Spinone Italiano Mix,Yellow/White
71767,A006100,2014-12-20 04:35:00,07/09/2007,Return to Owner,Dog,Neutered Male,7 years,Spinone Italiano Mix,Yellow/White
128276,A006100,2017-12-07 12:00:00,07/09/2007,Return to Owner,Dog,Neutered Male,10 years,Spinone Italiano Mix,Yellow/White
49549,A047759,2014-04-07 03:12:00,04/02/2004,Transfer,Dog,Neutered Male,10 years,Dachshund,Tricolor
102988,A134067,2013-11-16 11:54:00,10/16/1997,Return to Owner,Dog,Neutered Male,16 years,Shetland Sheepdog,Brown/White

In [20]:
outcomes['stay'] = outcomes.groupby('animal_id').cumcount() +1

In [21]:
outcomes['stay'] = outcomes['stay'].astype('str')

In [22]:
outcomes['animal_stay'] = outcomes['animal_id'] + '-' + (outcomes['stay'])

## Merge DataFrames

In [23]:
df = pd.merge(left=intakes, right=outcomes, how='inner', on='animal_stay')

In [24]:
df

,animal_id_x,intake_time,intake_type,intake_condition,animal_type,intake_gender,intake_age,inake_breed,intake_color,stay_x,...,animal_id_y,outcome_time,date_of_birth,outcome_type,outcome_animal_type,Sex upon Outcome,Age upon Outcome,outcome_breed,outcome_color,stay_y
0,A006100,2014-03-07 02:26:00,Public Assist,Normal,Dog,Neutered Male,6 years,Spinone Italiano Mix,Yellow/White,1,...,A006100,2014-03-08 05:10:00,07/09/2007,Return to Owner,Dog,Neutered Male,6 years,Spinone Italiano Mix,Yellow/White,1
1,A006100,2014-12-19 10:21:00,Public Assist,Normal,Dog,Neutered Male,7 years,Spinone Italiano Mix,Yellow/White,2,...,A006100,2014-12-20 04:35:00,07/09/2007,Return to Owner,Dog,Neutered Male,7 years,Spinone Italiano Mix,Yellow/White,2
2,A006100,2017-12-07 02:07:00,Stray,Normal,Dog,Neutered Male,10 years,Spinone Italiano Mix,Yellow/White,3,...,A006100,2017-12-07 12:00:00,07/09/2007,Return to Owner,Dog,Neutered Male,10 years,Spinone Italiano Mix,Yellow/White,3
3,A047759,2014-04-02 03:55:00,Owner Surrender,Normal,Dog,Neutered Male,10 years,Dachshund,Tricolor,1,...,A047759,2014-04-07 03:12:00,04/02/2004,Transfer,Dog,Neutered Male,10 years,Dachshund,Tricolor,1
4,A134067,2013-11-16 09:02:00,Public Assist,Injured,Dog,Neutered Male,16 years,Shetland Sheepdog,Brown/White,1,...,A134067,2013-11-16 11:54:00,10/16/1997,Return to Owner,Dog,Neutered Male,16 years,Shetland Sheepdog,Brown/White,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167012,A915518,2024-10-16 02:50:00,Stray,Neonatal,Cat,Intact Female,1 weeks,Domestic Shorthair,Tortie,1,...,A915518,2024-10-16 05:01:00,10/04/2024,Transfer,Cat,Intact Female,1 weeks,Domestic Shorthair,Tortie,1
167013,A915519,2024-10-16 02:50:00,Stray,Neonatal,Cat,Intact Male,1 weeks,Domestic Shorthair,Blue,1,...,A915519,2024-10-16 05:01:00,10/04/2024,Transfer,Cat,Intact Male,1 weeks,Domestic Shorthair,Blue,1
167014,A915520,2024-10-16 02:50:00,Stray,Neonatal,Cat,Intact Female,1 weeks,Domestic Shorthair,Blue,1,...,A915520,2024-10-16 05:02:00,10/04/2024,Transfer,Cat,Intact Female,1 weeks,Domestic Shorthair,Blue,1
167015,A915521,2024-10-16 02:50:00,Stray,Neonatal,Cat,Intact Male,1 weeks,Domestic Shorthair,Black,1,...,A915521,2024-10-16 05:01:00,10/04/2024,Transfer,Cat,Intact Male,1 weeks,Domestic Shorthair,Black,1
167016,A915546,2024-10-17 07:52:00,Stray,Sick,Cat,Intact Male,2 weeks,Domestic Shorthair,Black Smoke,1,...,A915546,2024-10-17 01:50:00,09/28/2024,Transfer,Cat,Intact Male,NaN,Domestic Shorthair,Black Smoke,1